[wps]
encoding=utf-8
title=PyWPS Server
version=1.0.0
abstract=See http://pywps.wald.intevation.org and http://www.opengeospatial.org/standards/wps
fees=None
constraints=none
serveraddress=http://localhost/cgi-bin/wps
keywords=GRASS,GIS,WPS
lang=en-CA

[provider]
providerName=Your Company Name
individualName=Your Name
positionName=Your Position
role=Your role
deliveryPoint=Street
city=City
postalCode=000 00
country=eu
electronicMailAddress=login@server.org
providerSite=http://foo.bar
phoneVoice=False
phoneFacsimile=False
administrativeArea=False
hoursofservice=0:00-24:00
contactinstructions=none

[server]
maxoperations=30
maxinputparamlength=1024
maxfilesize=3mb
tempPath=/tmp
processesPath=
outputUrl=http://localhost/wps/wpsoutputs
outputPath=/path/to/wps/wpsoutputs
debug=true ;deprecated since 3.2, use logLevel instead
logFile=/path/to/pywps/wps/error.log
logLevel=INFO

[qgis]
prefix=/usr/lib
#qgis,gdalogr,model,r,grass,grass70,saga
providers=qgis
algs_filter=

[qgis_processing]
ACTIVATE_QGIS=True
ACTIVATE_GDALOGR=True
ACTIVATE_MODEL=True
ACTIVATE_R=True
ACTIVATE_GRASS=False
ACTIVATE_GRASS70=False
ACTIVATE_SAGA=True
SAGA_208=False
SAGA_IMPORT_EXPORT_OPTIMIZATION=False
SAGA_AUTO_RESAMPLING=True
SAGA_RESAMPLING_REGION_CELLSIZE=1
SAGA_RESAMPLING_REGION_XMIN=0
SAGA_RESAMPLING_REGION_YMIN=0
SAGA_RESAMPLING_REGION_XMAX=1000
SAGA_RESAMPLING_REGION_YMAX=1000
SAGA_LOG_CONSOLE=True
SAGA_LOG_COMMANDS=True
